<div ng-if="status.searching && !status.searched">
	<div class="sk-cube-grid">
		 <div class="sk-cube sk-cube1"></div>
		 <div class="sk-cube sk-cube2"></div>
		 <div class="sk-cube sk-cube3"></div>
		 <div class="sk-cube sk-cube4"></div>
		 <div class="sk-cube sk-cube5"></div>
		 <div class="sk-cube sk-cube6"></div>
		 <div class="sk-cube sk-cube7"></div>
		 <div class="sk-cube sk-cube8"></div>
		 <div class="sk-cube sk-cube9"></div>
	</div>
</div>

<div class="client-container" ng-if="status.searched && !status.searching">
	
	<div class="search-clients-container">
		<input class="scc-input" placeholder="Filtra Clientes" ng-keyup="onFilterClients($event)" ng-focus="onFilterClients($event)"></input>
		<i class="material-icons search-in-clients">search</i>
	</div>
	<div class="client-list">
		<div class="client-value" ng-repeat="cliente in data">
			<a ng-click="onShowClientInfo($event,cliente)">{{cliente.nombre}} {{cliente.apellido}}</a>
		</div>
	</div>
</div>
