/*MAQUETADO*/
html, body{
	height:100%;
}
.w-left-bar{
	height:100%	;
    padding-top: 58px;
    position: absolute;

}
.left-col-cli{
	color: #cbbde2;
    background-color: #553d7b;
}
.main-row{
	height:100%;
}
/*COLORS*/
.bg-morado{
	background-color: #563d7c;
}

/*INPUT BARS*/
.input-bar {
	width:100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    border: 0px;
    border-bottom: 1px solid #553d7b;
    transition: .2s;
    margin-top: 20px
}
.input-bar:hover {
    border-bottom: 3px solid #553d7b;
    transition: .2s;
    /*margin-bottom: -2px;*/
}
input:focus {
    outline: none !important;
}
input:visited {
    background-color: #fff !important;
}
.ibs{
    border: 0px;
    width: 100%;
}

/*BOTONES*/
.log-in-btn{
	color: #fff;
}
.btn-primary {
    border-color: #cbbde2;
}
.btn-primary:hover {
    color: #fff;
    background-color: #7952b3;
    border-color: #7952b3;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #7952b3;
    border-color: #7952b3;
}
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(53, 21, 183, 0.35);
}

/*NAVBAR*/
.main-nav{
	z-index: 1000;
    position: fixed;
    width: 100%;
	box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
    border-bottom: 1px solid #322348;
}
/*LEFT BAR CLIENTS*/
.title-clients{
    margin-top: 10px;
    margin-bottom: 10px;
}
.search-in-clients{
	float: right;
    position: relative;
    top: -29px;
    right: 6px;
    cursor: pointer;
}
.scc-input {
    width: 100%;
    border: 1px solid #342448;
    padding: 4px 30px 4px 10px;
    border-radius: 5px;
}
.scc-input:focus:hover {
    border: 3px solid #cabde3;
    transition: .3s;
    padding: 2px 28px 2px 8px;
}
.scc-input:hover {
    border: 3px solid #cabde3;
    transition: .3s;
    padding: 2px 28px 2px 8px;
}
.nclient{
	float:right;
}
.search-clients-container{
   	margin-bottom: 10px;
}
.client-list{
    padding-left: 10px;
}


/*AJAX SPINNER*/
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #cbbde2;;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}
